node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
`https://api.openweathermap.org/data/2.5/weather?q=${city}&appid=585d4a04269c34cc7d11a057cfe5f80b`

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*
